<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>
  <main>
    <!-- Put the relative path to the background image url in html since it does not know how
    to evaluate relative_url liquid in scss file -->
    <div class="background-hero" style="background-image: url('{{ site.background_image | relative_url }}');"></div>
      <div>
      {% include nav.html %}
      </div>
      {{ content }}
      {% include backToTopButton.html %}
    
  </main>
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

</body>
</html>
